td,
th {
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product, .product-code, .product-quantity {
  flex-direction: column;
  gap: 0.25rem;
}

.product-code, .product-quantity {
  width: 3.5rem;
}

tr  {
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

thead > tr {
  background-color: rgb(220, 245, 235);
}
 
tbody > tr{
  transition: all ease-in-out 0.2s;
  border: 1px solid rgba(220, 245, 235, 0.664);
  
}

tbody>tr:hover {
  background-color: rgba(226, 229, 228, 0.192);
}

.header-so > nav > ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  color: rgb(38, 38, 161);
  
}

.header-so > nav > ul> li:hover {
  transition: all ease-in-out 0.2s;
  opacity: 0.6;
  cursor: pointer;
}

