.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  gap: 2rem;
}

.alert-success {
  width: 300px;
}

.form {
  width: 400px;
}